# Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Credentials
credentials.json
gmail_oauth.py

# IDE specific files
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

